*{

    box-sizing: border-box;

}

body{

    background-color: white;

}

header{

    padding: 5px 0 5px 0;
    font-family: 'Times New Roman', Times, serif;
    color: #BADA55;
    background-color: #b58a69;

}

nav{

    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 18px;
    text-decoration: none;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{

    background-color: #dee5de;
    padding: 10px;
    flex: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 10px 50px 10px 50px;

}

#contenedor{
    background-color: white;
    height: 1000px;
    width: 900px;
}

section{

    background-color: #dee5de;
    flex: 70%;
    padding: 20px;
    margin: 10px 50px 10px 50px;

}

button{
    padding: 10px 30px;
    background-color: #5e5e4a;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    float: left;
    margin: 0 0 0 100px;
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
    text-align: justify;
}

.texto2{
    font-size: 15px;
    text-align: justify;
}

.texto3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #000;
}

img{
    width: 25%;
    height: 20%;
    margin: 50px 0 50px 0;
}

.img_pepe{
    width: 50%;
    height: 20%;
    margin: 10px 20px 10px 0;
    float: left;
}

footer{

    padding: 20px;
    font-size: 14px;
    text-align: center;
    background-color: #5e5e4a;
    font-family: Arial, Helvetica, sans-serif;
    color: #e8e6e6;

}

ul{

    text-align: center;
    padding: 10px;

}

li{

    display: inline;
    padding: 10px 20px;
    margin: 2em;

}

li a:hover{

    color: red;
    text-decoration: none;
    list-style: none;
    
}

@media screen and (max-width: 700px ){
    
    nav, .row{

        flex-direction: column;

    }

    body {background-color: black;}

}