body{
    background-color: white;
}

header{

    padding: 5px 0 5px 0;
    font-family: 'Times New Roman', Times, serif;
}


#contenedor{
    width: 700px;
    height: 500px;
    border: 10px;
    
    background-color: antiquewhite;
}